@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
footer,
.main,
#btn,
.langs,
.alert {
  font-family: "Poppins", sans-serif;
}
.app {
  height: 100vh;
  width: 100vw;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(56, 90, 100);
  color: white;
}

footer {
  background-color: rgb(56, 90, 100);
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-size: 20px;
  color: white;
  z-index: 5;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 130px);
  background: url("../images/back1.jpg");
  background-position: center;
  background-size: cover;
  padding-right: 5px;
}
.content {
  height: 300px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 5px;
}

.alert {
  width: 100%;
  border-radius: 5px;
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
  padding: 10px;
  margin-bottom: 10px;
}

#langs {
  margin: 10px 0 10px 0;
  width: 200px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
}

#langs.decorated option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

#btn {
  margin: 10px 10px 10px 0;
  border: none;
  width: 90px;
  height: 40px;
  font-size: 20px;
}

#btn1 {
  background-color: rgba(255, 114, 90);
  border: none;
  font-size: 18px;
}
#btn:focus,
#btn1:focus,
#btn2:focus,
#langs:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
#btn2 {
  background-color: rgb(26, 46, 53);
  border: none;
  margin: 0 5px 0 5px;
  font-size: 18px;
}

#btn2:active {
  border: none;
}
